/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ----------------------- No 3 ----------------------- */
/* Import Default Styling */
@import url(./globals.css);

body {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* ----------------------- No 5 ----------------------- */
.no-5 p {
  color: var(--primary);
  font-size: 24px;
}

/* ----------------------- No 6 ----------------------- */
#no-6-id {
  color: red;
}

.no-6-class {
  color: #d6336c;
}

summary {
  color: #9c36b5;
}

/* ----------------------- No 7 ----------------------- */
section div p {
  color: var(--primary);
  font-weight: 900;
  font-family: monospace;
}

/* ----------------------- No 8 ----------------------- */
.box h2 + p {
  font-size: 32px;
  background-color: azure;
  text-decoration: underline;
}

/* ----------------------- No 9 ----------------------- */
.no-9 h2 + a {
  display: block;
  width: 90%;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-align: center;
  text-decoration: none;
  background-color: #9ca3af;
}

.no-9 h2 + a:link,
.no-9 h2 + a:visited {
  cursor: pointer;
}

.no-9 h2 + a:hover,
.no-9 h2 + a:active {
  cursor: pointer;
  background-color: #f3f4f6;
}

/* ----------------------- No 10 ----------------------- */
.no-10 h2 + span::before {
  margin-right: 12px;
  content: "⬇️";
}

.no-10 h2 + span::after {
  margin-left: 12px;
  content: "⬆️";
}

/* ----------------------- No 11 ----------------------- */
.kotak1 {
  padding: 24px;
  background-color: #fda4af;
}

.kotak2 {
  padding: 24px;
  background-color: #818cf8;
  position: relative;
  left: 128px;
}

/* ----------------------- No 12 ----------------------- */
.no-12 {
  position: relative;
}

.kotak3 {
  padding: 24px;
  background-color: aqua;
}

.kotak4 {
  padding: 24px;
  background-color: #9c36b5;

  position: absolute;
  left: 356px;
  /* bottom: 24px; */
}

/* ----------------------- No 13 ----------------------- */
nav > ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav > ul > li > a {
  text-decoration: none;
}

.no-13 {
  background-color: #fda4af;
  position: sticky;
  top: 0px;
  padding: 24px;
}

/* ----------------------- No 14 ----------------------- */
.no-14 {
  margin-bottom: 128px;
}

.fab {
  width: 350px;
  height: 80px;

  position: fixed;
  bottom: 0;
  left: 0;
}
